*{
padding: 0 ;
margin: 0 ;
/*border : solid 1px rgb(10, 4, 4) ; */
}

body {
    background-color:cornsilk;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;

}


header{
background-image: url(../img/1773899.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
color:cornsilk;
padding: 80px;


    
}

#containersup header #logo {
padding: 1px;  
margin-left: 630px;
margin-right: 30%; 

}

header #header ul {
margin:10px;
padding:10;
margin-right: 30%; 


 }

 header #header{

 margin-top: 0%;

 }

 


header #header ul li {
display:inline-block;
padding: 20px;
vertical-align: middle;

 }

 header #header ul li a {
color:cornsilk;
text-decoration:  none;

 }

/* hover "attribute to make the letter turn to oether color and show a underline, the property add into keys"*/
 header #header ul li a:hover {
color:crimson;
text-decoration: underline;    

}
/*---------------------------------*/


#containersup header main {

width: 900px;
margin: 0 auto; 

}

#containersup header main div{

display: inline-block;
vertical-align: middle;


}

#containersup header main .text h1 {
font-size: 110px;
margin-left: 70px;
margin-right: 70px; 

}



.image{


margin:15px;
padding:3px;
float: left;
}

